nextflow.enable.dsl=2

params {
    sample_file                      = 'sample_sheet.tsv'
    num_threads                      = 3
    output_dir                       = 'mutmap_output'
    genome_fasta                    = null

}


docker.enabled          = true
docker.runOptions       = '-u $(id -u):$(id -g)'
fixOwnership            = true